body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 12px !important;
  font-family: 'Inter', sans-serif;
}

#root {
  height: 100vh;
}

.list-container {
  width: 975px !important;
}

.filter-dropdown {
  font-size: 16px !important;
}

.table-header-bg {
  background-color: #F4F5F7;
}
table {
  height: 538px !important;
}

.h-90 {
  height: 85% !important;
}

.ml-auto {
  margin-left: auto !important;
}

.td-padding-y td {
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
}

.badge-bg-failed {
  background-color: #FDE2E1 !important;
  color: #981B1C;
  font-weight: 500;
}

.badge-bg-success {
  background-color: #DEF7EC !important;
  color: #03543F !important;
  font-weight: 500;
}

.badge-bg-upcoming {
  background-color: #FEF3C7 !important;
  color: #92400F !important;
  font-weight: 500;
}

.pagination li a {
  color: #000000;
}

.filter-active {
  background-color: #F4F5F7;
}

.pointer-cursor {
  cursor: pointer;
}

.right-50 {
  right: 50%;
}

.mr-1 {
  margin-right: .25rem !important;
}